@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}


h1, h2, h3, h4, h5, h6 {margin:0;}
p {margin:0;}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,ul,dl { margin:0;list-style:none;padding:0}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius:0;
  cursor:pointer;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;  overflow: visible;
}

button:focus {
  outline:none;
}

.clearfix:before,
.clearfix:after,
.main:before,
.main:after {
    content: " ";
    display: table;
}

.clearfix:after,
.main:after {
    clear: both;
}

*::selection {
    background-color: #FFD733;
    color:#191919;
    z-index: auto;
}

body {
    font: normal 14px/1.4 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
    color: #333;
    position: relative;
    background:#f2f2f2;
    padding:0 10% 60px;
}


/**/
a {color: #191919;text-decoration:none; outline:none;}
a:hover, a:focus, a:active {color: #505050;text-decoration:underline; outline:none;}

h1, .h1, h2, .h2, h3, .h3 {font-weight:300;display:block;line-height: 1.1;margin-bottom:1em;word-spacing:3px;letter-spacing: 1px;text-transform: uppercase;}
h1, .h1 {font-size: 6em;text-indent: -9px;margin:0.3em 0}
h2, .h2 {font-size: 3em;text-indent: -4px;}
h3, .h3 {font-size: 1.5em;}

.main {padding:150px 10%; background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.01);}
.flex {display: flex;}
.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.margin-box {margin-bottom:150px;}
.margin-b15 {margin-bottom:15px;}

.text-bg {color:#efefef;background:#191919;padding: 0 10px;font-weight:600;}
.bold {font-weight:bold}
svg {display:block;width:100%}
.line {display:block;width:100px;height:5px;background:#505050;margin:20px 0;border-radius:1px;}
.icon-marker {display:inline-block;margin-left:8px;height:20px;width:15px;fill:#191919;vertical-align: baseline;}
.transition,
a,
.nav-social li a svg,
.portfolio-grid .item a:after, .portfolio-grid .item a > span {-webkit-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s;}

svg.linkedin {fill:#0077B5}
svg.facebook {fill:#3b5998}
svg.instagram {fill:#e1306c}
svg.email {fill:#6441a5}


@media all and (max-width:1199px) {
  h1, .h1 {font-size: 5em;}
}
@media all and (max-width: 991px) {
  body {padding:0 20px 60px;}
  .main {padding:90px 10%;}
  .margin-box {margin-bottom:90px}

  h1, .h1 {font-size: 4em;text-indent:-6px;}
  h2, .h2 {font-size: 2.5em;text-indent:-3px;}
  h3, .h3 {font-size: 1.4em;}
}
@media all and (max-width: 767px) {
  h1, .h1 {font-size: 2.5em;text-indent:-5px}
  h2, .h2 {font-size: 2em;text-indent:-3px}
  h3, .h3 {font-size: 1.1em;}
  .margin-b15 {margin-bottom:10px;}
}
@media all and (max-width:530px) {
  body {padding:0 10px 60px;}
  .main {padding:60px 5%;}
  h1, .h1 {font-size: 2.2em;text-indent:-3px}
  h2, .h2 {font-size: 1.5em;text-indent:-1px}
  h3, .h3 {font-size: 1em;}
}

/*avatar*/
.avatar {overflow:hidden;width:150px;height:150px;background:#f2f2f2;border-radius:50%;}
.avatar img {display:block;max-width:100%}
@media all and (max-width:991px) {
  .avatar {width:100px;height:100px;}
}
@media all and (max-width: 767px) {
  .avatar {width:80px;height:80px;}
}

/*nav-social*/
.nav-social {overflow:hidden;}
.nav-social li {float:left;margin:0 15px 0 0;}
.nav-social li:last-child {margin-right:0;}
.nav-social li a {display:block;height:30px;width:30px;}
.nav-social li a svg {height:30px;}
.nav-social li a:hover svg {fill:#191919;}
@media all and (min-width: 768px) {
  .nav-social li {margin-right:25px;}
  .nav-social li a {display:block;height:36px;width:36px;}
  .nav-social li a svg {height:36px;}
}




/*footer*/
#footer {font-size:1em;color:#505050;letter-spacing:2px;padding:60px 0 0 0}
#footer span {display:block;margin-bottom:5px;}
.top-scroll {border:1px solid #191919;width: 36px;height:36px;margin:20px auto 0;display: block;position: relative;}
.top-scroll:before, .top-scroll:after {position:absolute;content:"";z-index:1;left:20px;top:12px;height:10px;background:#191919;width: 1px;}
.top-scroll:before {-webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg);}
.top-scroll:after {left:13px;-webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg);}
.top-scroll:hover {background:#191919;}
.top-scroll:hover:before, .top-scroll:hover:after {background:#fff;}
@media all and (max-width: 991px) {
  #footer {padding-top:60px;font-size:0.9em}
}

/*text-animation*/
.text-animation {
  display:inline-block;
  animation: text90 3s infinite linear;
}
@keyframes text90 {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  25% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  75% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes text90 {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  25% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  75% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

/*porfolio*/
.portfolio-nav {overflow:hidden;margin-bottom:30px;}
.portfolio-nav button {float:left; color:#505050;letter-spacing:2px;font-size:11px; margin-right:20px; background:none;border:none; text-transform:uppercase;font-weight:600;}
.portfolio-nav button:hover {color:#ccc;}
.portfolio-nav button.checked {color: #8A8A8A; text-decoration: line-through;}
.portfolio-grid .item {width:100%}
.portfolio-grid .item a {display:block;overflow:hidden;position:relative;}
.portfolio-grid .item a img {display:block;max-width:100%;
  -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .7s cubic-bezier(0.600,0,.2,1);
      -moz-transition: all .7s cubic-bezier(0.600,0,.2,1);
      -o-transition: all .7s cubic-bezier(0.600,0,.2,1);
      transition: all .7s cubic-bezier(0.600,0,.2,1);
      -webkit-transition-timing-function: cubic-bezier(0.600,0,.2,1);
      -moz-transition-timing-function: cubic-bezier(0.600,0,.2,1);
      -o-transition-timing-function: cubic-bezier(0.600,0,.2,1);
      transition-timing-function: cubic-bezier(0.600,0,.2,1);
      -webkit-transform: translateZ(0px);
      -moz-transform: translateZ(0px);
      -o-transform: translateZ(0px);
      -ms-transform: translateZ(0px);
      transform: translateZ(0px);}
.portfolio-grid .item a:hover img {-webkit-transform: scale(1.05); -moz-transform: scale(1.05);  -o-transform: scale(1.05);  -ms-transform: scale(1.05); transform: scale(1.05);}
.portfolio-grid .item a:after {position: absolute; top: 0;  left: 0;  right: 0;  bottom: 0;  display: block;  z-index:1;  content:"";}
.portfolio-grid .item a:hover:after {background-color: rgba(0,0,0,.9);}
.portfolio-grid .item a > span {position:absolute;bottom:40px;left:30px;right:30px;z-index:2;color:#fff;opacity:0;}
.portfolio-grid .item a:hover > span {opacity:1}
.portfolio-grid .item a > span i {display:block;margin-bottom:5px;font-style:normal}
.portfolio-grid .item a > span span {display:inline-block;font-size:1.3em;text-transform:uppercase;font-weight:600}
.portfolio-grid .item a > span:before {position:absolute;content:"";left:0;bottom:-10px;width:60px;height:3px;z-index:2;background:#FFD733;border-radius:1px;}

@media all and (min-width: 768px) {
  .portfolio-grid .item {width:50%;}
  .portfolio-nav button {font-size:13px;}
}
@media all and (min-width:992px) {
  .portfolio-grid .item {width: 33.333%;}
}

/*contact*/
.feedback {margin-bottom:30px;}
.feedback span {display:block;padding-left:25px;position:relative;min-height:20px;line-height:20px;text-transform:uppercase;font-size:12px;}
.feedback svg {display:block; position:absolute;z-index:1;left:0;top:calc(50% - 8px);width:16px;height:16px;}
.feedback a {display:block;font-weight:600;font-size:16px;padding-left:25px;}

/*animate*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

/*dark*/
body.dark {background:#090909;color:#efefef}
.dark .main {background:#191919;box-shadow:0 0 10px rgba(0,0,0,0.2)}
.dark a {color:#fff;}
.dark .avatar {box-shadow:0 0 10px rgba(0,0,0,0.2)}
.dark .text-bg {background:#efefef;color:#191919}
.dark .nav-social li a:hover svg {fill:#efefef}
.dark .portfolio-nav button {color:#efefef}
.dark .portfolio-nav button:hover {color:#ccc}
.dark .portfolio-nav button.checked {color:#8A8A8A}
.dark #footer {color:#777}
.dark .top-scroll {border-color:#777}
.dark .top-scroll:before, .dark .top-scroll:after {background:#777}
.dark .top-scroll:hover {background:#777;border-color:#777}
.dark .top-scroll:hover:before, .dark .top-scroll:hover:after {background:#191919}
